<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Form</title>
</head>
<body>
<form method="post" action="/login">
    <p><input type="text" name="username" value="zbx5818" placeholder="username"></p>
    <p><input type="password" name="password" value="08085818" placeholder="password"></p>
    <!--input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/-->
    <p class="submit"><input type="submit" name="commit" value="login"/></p>
</form>
</body>
</html>

